
.Hero {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 3em;
  gap: 2em;
}

.active::before{
  content: '';
  border: 2px solid #E0B36A;
  height: 15px;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 480px;
  transform: translate(-50%, -50%);
  background-color: #171C23;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Lato', sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  gap: 1em;
}

form input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  /* background-color: #171C23; */
  color: #E0B36A;
  padding-left: 10px;
  margin-bottom: 1em;
}

button {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #E0B36A;
  color: #171C23;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

i {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(7em);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}